.App {
  position: relative;
  overflow: visible;
  text-align: center;
}

.App-header .logo {
  max-width: 62px;
}

.content {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
}